.main-ff-monster{
    position: relative;
    margin: 10px 25px;
    text-align: center;
    border: 3px solid black;
    padding-top: 10px;
    background-color: rgba(0, 0, 0, 0.8);
}
.main-ff-monster .ff-indiv-monster-img{
    width: 50%;
    margin: 0 auto;
    margin-top: 15px;
    
}
.main-ff-monster img{
    width: 100%;
    height: 150px;
}
.main-ff-monster a{
    text-decoration: none;
}
.main-ff-monster ul{
    color: rgb(255, 255, 255);
    list-style: none;
    padding: 2px 5px;
    text-align: left;
}
.main-ff-monster span{
    color: red;
    font-weight: 700;
    font-size: 16px;
}
.monster-lists{
    display: flex;
    justify-content: space-around;
}
.main-ff-monster p{
    color: white;
    margin: 0 0 10px 0;
}
.monster-description{
    color: white;
    padding-bottom: 50px;
}

@media screen and (min-width: 768px){
    .main-ff-monster{
        margin: 0 50px;
        margin-top: 30px;
        padding-bottom: 200px;
        
    }
    .main-ff-monster img{
        height: 250px;
    }
    .main-ff-monster ul{
        font-size: 17px;
    }
    .main-ff-monster span{
        font-size: 20px;
    }
    .main-ff-monster p{
        font-size: 17px;
    }
    .monster-description{
        margin: 0 20px;
        padding-bottom: 50px;
        font-size: 17px;
    }
}