.monsters {
    margin: 25px 20px;
    padding-bottom: 20px;
}
.monster{
    position: relative;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
}


.monster .monster-image{
    width: 50%;
    margin: 0 auto;
    
}
.monster img{
    width: 100%;
    height: 150px;
}
.monster a{
    text-decoration: none;
}
.monster p{
    color: rgb(241, 0, 0);
    font-weight: 500;
    font-size: 20px;
}



  
