.random-character{
    text-align: center;
    border: 3px solid rgb(3, 3, 3);
    margin: 50px 25px 25px 20px;
    background-color: rgba(0, 0, 0, 0.7);
}
.random-character .image{
    width: 50%;
    margin: 0 auto;
    margin-top: 5px;
}
.random-character img{
    width: 100%;
}

.lists{
    display: flex;
    justify-content: space-around;
    text-align: start;
    margin: 0 5px;
    font-size: 12px;
}
.lists ul{
    padding: 0;
}
.lists li{
    list-style: none;
    font-weight: 500;
    color: rgb(255, 255, 255);
}
.lists span{
    font-weight: 700;
    color: red;
}
.random-character a{
    text-decoration: none;
    color: red;
}
.character-page{
    font-size: 20px;
    margin-top: 0;
    font-weight: 500;
}

@media screen and (min-width: 768px){
    .main{
        padding-top: 50px;
    }
    .random-character button{
        margin: 10px 5px;
    }
    .random-character{
        margin: 50px 50px 25px 50px;
    }
    .random-character .image{
        width: 50%;
    }
    .random-character img{
        width: 100%;
    }
    .lists{
        font-size: 20px;
    }
    .character-page{
        font-size: 25px;
        margin-top: 0;
        font-weight: 500;
    }
}

@media screen and (min-width: 992px){
    .random-character{
        margin: 50px 150px 25px 150px;
        padding: 30px 5px;
    }
    .random-character .image{
        width: 30%;
    }
    .random-character button{
        margin-top: 0;
    }
    .lists{
        font-size: 20px;
    }
    .lists span{
        font-size: 25px;
    }
    
    .character-page{
        font-size: 25px;
    }
}