.FF-characters{
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
}
.ff-character{
    background-color: rgba(0, 0, 0, 0.7);
    margin: 10px 0;
}
.ff-character-lists{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.FF-characters ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: baseline;
    padding: 5px 10px;

}

.FF-characters li{
    color:white;
    margin: 2px 2px;
    padding: 0 2px;
}
h2{
    text-align: center;
    color: red;
    margin: 0;
}