.main-ff-game{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    padding-bottom: 100px;
}
.ff-indiv-game{
    margin: 20px 10px;
    padding-top: 10px;
}
.ff-indiv-game .ff-indiv-game-image{
    width: 90%;
    margin: 0 auto;  
}

.ff-indiv-game img{
    width: 100%;
    margin-top: 10px;;
}

.ff-indiv-game ul{
    list-style: none;
    color: white;
    font-weight: 600;
}

.ff-indiv-game span{
    color: red;
    font-weight: 700;
}

.game-description{
    color: white;
    padding: 10px 10px;
}

@media screen and (min-width: 768px){
    .main-ff-game{
        padding-top: 50px;
        padding-bottom: 200px;
    }
    .ff-indiv-game{
        margin: 0px 10px;
        padding: 0;
    }
    .ff-indiv-game ul{
        font-size: 20px;
    }
    .ff-indiv-game span{
        font-size: 25px;
    }
    .game-description{
        padding: 10px 30px;
        font-size: 17px;
        padding-bottom: 50px;
    }
    .main-ff-game button{
        transform: scale(1.2);
    }
}

@media screen and (min-width: 992px){
    .game-description{
        font-size: 20px;
        padding: 10px 150px;
    }
    .main-ff-game button{
        transform: scale(1.5);
    }
    .ff-indiv-game .ff-indiv-game-image{
        width: 80%; 
    }
    
}