.header-nav{
    background-color: black;
    display: flex;
    justify-content: center;
}
.ff-logo{
    width: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.ff-logo img{
    width: 25%;
}

.ff-logo a{
    text-align: center;
}
