.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}

.nav-bar {
    background-color: black;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.icon{
    color: white;
    padding: 5px 
;}

.nav-bar p{
    color: white;
    margin: 0;
    font-size: 12px;
    position: relative;
    top: -5px;
}

@media screen and (min-width: 768px){
    .footer{
        display: none;
    }
}