/* .footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.nav-bar {
    background-color: black;
    display: none;
    justify-content: space-around;
}

.icon{
    color: white;
    padding: 5px 
;} */